@model WebScanDocument.Models.RegisterOfDocPage

@{
    ViewBag.Title = "EditPage";
}

<h2>Изменить страницу документа</h2>


@using (Html.BeginForm("EditPage", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Изменение страницы</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ListOfDocumentId)

        <div class="form-group">
            @Html.LabelFor(model => model.PageNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Relevance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Relevance)
                    @Html.ValidationMessageFor(model => model.Relevance, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartRelevance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartRelevance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartRelevance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StopRelevance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StopRelevance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StopRelevance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                <input type="file" id="error" name="error" />
                @Html.ValidationMessageFor(model => model.ScanName, "Загрузите скан-образ документа в формате .pdf", new { @class = "text-danger" })
            </div>
            <h4 style="color:red">@ViewData["error"]</h4>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />               
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "listDocuments")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
