@model IEnumerable<WebScanDocument.Models.ListOfDocument>

@{
    ViewBag.Title = "Список документов";
}

<h2>Список документов</h2>

<p>
    @Html.ActionLink("Добавить документ", "CreateDocument")
</p>

<div>
    @using (Ajax.BeginForm("DocSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfDocumentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumderDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartValidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopValidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfDocument.DocumentTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeriesDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumderDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartValidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopValidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditingDate)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditDocument", new { id=item.Id }) |
            @Html.ActionLink("Детали", "DetailsDocument", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteDocument", new { id=item.Id }) |
            @Html.ActionLink("Постраничный просмотр", "DocumentPages", new { id = item.Id }) |
            @Html.ActionLink("Добавить страницу", "CreatePage", new { id = item.Id }) |
            @Html.ActionLink("Сформировать документ", "ConcatenateDocument", new { id = item.Id })

        </td>
    </tr>
}

</table>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")